@media screen and (max-width: 1900px){
    .img-rensposive {
        margin-top: 5px;
    }
}
@media screen and (max-width: 1024px) {
    .menu-bar  nav {
        display: none;
    }
    .logo-bar {
        display: flex;
        justify-content: space-between;
    }
    .menu-icon {
        background: #00897b;
        border: none;
        font-size: 25px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .heade__title {
        font-size: 2.5em;
    }
    .header__text {
        padding: 40px 0px;
        
    }
    .button {
        margin: 5px 10px; 
    }
    .header__sub {
        padding: 80px 0;
        padding-bottom: 20px;
    }
    .about__text {
        padding-bottom: 30px;
    }
    .about img {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .about h3 {
        padding-bottom: 5px;
    }
    .about__title, .services__title, .works__title, .pricing__title {
        padding-bottom: 15px;
        padding-top: 20px;
        line-height: 30px;
    }
    .our__card p {
        padding: 15px 0px;
    }
    .works__title {
        margin-top: 20px;
    }
    .our__card {
        padding: 50px 0 40px;
    }
    .services__top {
        margin-bottom: 30px;
    }
    .nav-tabs {
        margin-bottom: 30px;
    }
    .works__hover {
        margin-bottom: 20px;
    }
    .works__view-all {
        margin-top: 20px;
        margin-bottom: 0;
    }
    .pricing__text {
        margin-bottom: 40px;
    }
    .pricing__button {
        padding: 10px 10px;
    }
    .pricing__cards-title {
        padding-bottom: 20px;
    }
    .pricing__cards {
        padding: 30px 10px 30px 10px;
    }
    .pricing__cards-top {
        padding-bottom: 50px;
    }
    .pricing {
        padding-bottom: 40px;
    }
    p {
        margin-bottom: 1rem;
    }
    .icon__team {
        padding: 0 5px 20px 5px;
    }
    .blog__text {
        text-align: center;
        padding-left: 0;
    }
    .revers__blog {
        display: flex;
        flex-direction: column-reverse;
    }
    .img-rensposive {
        margin-top: 15px;
    }
    /* .blog {
        padding-bottom: 0px;  
    } */
    h2 {
        margin-bottom: 1rem; 
    }
    footer {
         padding: 0; 
    }
    footer button {
        margin-bottom: 10px;
    }
    .russ p {
        margin-bottom: 0rem;
    }
    .responis {
        display: flex;
        flex-flow: column-reverse;
    }
    .footer {
        display: flex;
        justify-content: center;
    }
    .blog__i {
        display: flex;
        flex-flow: column;
    }
    .blog__i i {
        margin-bottom: 5px;
    }
    .button__i {
        margin-bottom: 10px;
    }
    .blog__text {
        text-align: left;
    }
    .blog__text {
        padding-top: 20px;
    }
}


