@import "fons.css";

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans";
    color: #212121;
    /* background-color: #868686; */
    /* font-family: 'Roboto', sans-serif; */
}
.container {
    text-align: center;
}

/* menu */
.menu-bar {
    align-items: center;
    background-color: #fff;
    padding: 20px 0;
    color: #212121;
}
.menu-bar .row {
    padding: 0;
}
/* .menu__item {
    margin-left: 35px;
} */
.menu__item a {
    font-family: "Open Sans";
    font-weight: 600;
    color: #212121;
    font-size: 20px;
}
.menu__item a:hover {
    text-decoration: none;
    color: #868686;
}
/* header */
.header__sub {
    background-image: url("../img/header_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 180px 0;
    text-align: center;
    color: #fff;
}
.heade__title {
    font-size: 3.5em;
    /* line-height: 22px; */
}
.header__text {
    padding: 40px 100px;
    font-size: 1.5em;
    /* line-height: 22px; */
}
.button {
    font-family: "Roboto", sans-serif;
    border: 2px solid #fff;
    background-color: transparent;
    padding: 10px 25px;
    margin: 0 10px;
    font-size: 20px;
    line-height: 22px;
    color: #fff;
    transition: 0.3s;
}
.button:hover {
    background-color: #00897b;
    border: 2px solid #00897b;
    cursor: pointer;
    outline: none;
}
/* about */
.about {
    padding: 50px 0;
}
.about img {
    padding-bottom: 40px;
}
.about__title,
.services__title,
.works__title,
.pricing__title{
    font-size: 30px;
    line-height: 22px;
    font-weight: bold;
    color: #212121;
    font-family: "Open Sans";
    font-weight: 600;
    padding-bottom: 25px;
    margin-top: 60px;
}

.about h3 {
    font-family: "Open Sans";
    color: #212121;
    padding-bottom: 28px;
}
.about p,
.services p {
    font-family: "Open Sans";
    color: #212121;
    font-size: 15px;
    line-height: 22px;

    margin: 0 auto;
}

.about__text {
    padding-bottom: 50px;
}
/* secvices */
.services__top {
    margin-bottom: 120px;
}
.services {
    padding: 50px 0;
    text-align: center;
    background-color: #e4fdf9;
}
.services__text {
    color: #212121;
    font-size: 15px;
    line-height: 22px;
}
/* our__card */
.our__card {
    margin-bottom: 25px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
    background-color: #fff;
    padding: 50px 25px 40px;
    transition: 0.3s;
}
.our__card p {
    padding: 20px 50px;
}
.icon {
    font-size: 60px;
}
.button__services {
    
    text-transform: uppercase;
    border: 1px solid black;
    background: transparent;
    padding: 20px 15px 20px;
    font-family: "Open Sans";
    line-height: 0;
}
.our__card:hover {
    background-color: #00897b;
    color: #fff;
}
.our__card:hover p {
    color: #fff;
}
.our__card:hover .button__services {
    color: #fff;
    border-color: #fff;
    outline: none;
}
/* works */
.work {
    padding: 50px 0;
}
.works nav {
    width: 100%;
}
.works__title {
    margin-top: 100px;
}
.nav-tabs .button {
    border-color: #00897b;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}
.nav-tabs .button:hover {
    color: #fff;
    outline: none;
}
.nav-tabs .button.active {
    background-color: #00897b;
    color: #fff;
}
.text__hover {
    position: relative;
}
.works__hover img {
    width: 100%;
}
.works__hover {
    margin-bottom: 25px;
    position: relative;
}
.nav-tabs {
    margin-bottom: 50px;
    border: none;
}
.works__view-all {
    margin-top: 50px;
}
.text__hover {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.68);
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
}
.works__hover:hover .text__hover {
    opacity: 1;
    cursor: pointer;
}
.works__view-all {
    margin-top: 100px;
}
/* pricing */
.pricing {
    padding: 50px 0;
    text-align: center;
}
.pricing__cards {
    transition: .3s;
    overflow: hidden;
    padding: 50px 10px 60px 10px;
    position: relative;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
}
.pricing__cards:before {
    content: "";
    display: block;
    position: absolute;
    top: -50px;
    left: -50px;
    width: 130%;
    height: 200px;
    background-color: #3949ab;
    z-index: -1;
    transform: rotate(-5deg);
    
}
.pricing__cards:hover {
    transform: scale(1.01);
    
}
.pricing__cards:hover .pricing__button {
    background-color: #00897b;
    color: #fff;
    border-color: #00897b;
    outline: none;
}
.pricing__cards-top {
    color: #fff;
    padding-bottom: 80px;
    
}
.pricing__cards-title {
    padding-bottom: 60px;

}
.pricing__cards-title p {
    max-width: 170px;
    border-bottom: 1px solid #bfbfbf;
    margin: 0 auto 20px;
    
    
}
.pricing__button {
    font-family: "Roboto", sans-serif;
    border: 2px solid black;
    background-color: transparent;
    padding: 15px 15px;
    font-size: 15px;
    line-height: 22px;
    color: black;
    transition: 0.3s;
}
.pricing__text {
    margin-bottom: 50px;
}
/* team */
.team {
    padding: 50px 0;
    text-align: center;
}

.icon__team {
    padding: 0 5px 0 5px;
    color: #00897b;
    font-size: 30px;
}
.icon__text {
    margin: 20px 0;
}
.icon__team i {
    transition: .3s;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 5%;
    padding: 10px;
    background-color: #f0f1f1;
}
.icon__team i:hover {
    color: #fff;
    
    background-color: blue;
}

.carousel-indicators li{
    background-color: #00897b;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    width: 50px;
    height: 50px;
    background-size: 50%;
    border-radius: 50%;
    box-shadow: darkgray;
    background-color: #00897b;
}
.carousel-indicators .active {
    background-color: blue;
}
.carousel-indicators {
    bottom: -60px;
}
.carousel-control-next, .carousel-control-prev{
    width: 10%;
    height: auto;
    

}
.active li {
    color: blue;

}

.carousel-item-next,
 .carousel-item-prev,
  .carousel-item.active {
      display: flex;
  }
/* blog */
.blog {
    width: 100%;
    padding: 50px 0;
    background-color: #e4fdf9;
    text-align: center;
}
.blog__title {
    padding-top: 60px;
}
.blog__text {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 60px;
    /* padding-top: 60px; */
}
.blog__text div {
    margin-top: 15px;
    margin-bottom: 15px;
}
 .blog__text a {
     text-decoration: none;
     font-size: 25px;
     color: #00897b;
     margin-bottom: 30px;
 }
 .blog__text span {
     color: #212121;
     font-size: 17px;
     font-weight: bold;
     margin-right: 35px;
 }
 .blog__text i {
     margin-right: 15px;
     
 }
 /* footer */
 .contact {
    padding: 50px 0 0 0;
     text-align: center;
 }
 .sercli {
     align-items: center;
     width: 70px;
     height: 70px;
     background-color: blue;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     margin: 30px auto;
 }
 .contact i {
     color: #fff;
     font-size: 40px;
 }
footer {
    background-image: url("../img/footer_bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    padding: 50px;
}
/* form */
.form-group {
    display: flex;
}
footer input:focus,
 footer textarea:focus,
footer button:focus {
    outline: none;

}
footer input, footer textarea {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    border: none;
}
footer textarea {
    margin-top: 30px;
    margin-bottom: 30px;
    resize: none;
}
footer button {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 10px 60px;
    border-radius: 10px;
    border: none;
    color: #212121;
    opacity: .6;
    transform: .3s;
    margin-bottom: 20px;
}
footer button:hover {
    opacity: .3;
    outline: none;
}
.form {
    margin-top: 70px;
}

/* russ */
.russ {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    padding: 5px;
    text-align: center;
    background-color: #fff;
    color: #212121;
    
}
.russ p {
    margin-bottom: 0;
}

#toTop {
    z-index: 999;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 20px;
    border-radius: 3px;
    background: #00897b;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    color: #000000;
}
.logo-bar {
    display: none;
}

.img-rensposive {
    width: 100%;
}





